.login {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  width: 100px;
  margin: 20px auto;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 26px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.login__container > h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.login__container > p {
  margin: 15px auto;
  font-size: 12px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid lightgray;
  outline: none;
}

.login__container > form > input:focus {
  border: 1.25px solid rgb(250, 143, 3);
  box-shadow: 0px 1px 5px rgba(250, 143, 3, 0.8),
    0 0px 4px rgba(0, 0, 0, 0.07) inset;
}

.login__signInButton {
  background: rgb(255 211 100);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  outline: none;
  cursor: pointer;
}

.login__signInButton:hover {
  background: rgba(243, 195, 75, 0.9);
}

.login__register {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

/*for new account h5 tag need to be added to login.js --> .divider > h5:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
} */
